{% extends 'home/index.html' %}

{% block body %}
    <div containers>
        <form action="{% url 'blog:create_post' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="title">Post Title</label>
                <label type="text" ="title">Pos</title>
            </div>
            <div>
                <label for="content">Post Content</label>
                <label type="text" id= "content", name="content">
            </div>
            <div>
                button type="submit">Post</button
            </div>
        </form>
    </div>
{% endblock body %}